.jokeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.joke {
    flex-basis: 28%;
    background-color: aliceblue;
    border: 1px dotted darkcyan;
    margin: 0.35rem 0;
    padding: 1.25rem;
}

.joke:hover {
    animation: jiggle 0.2s;
    transition: .4s all ease;
    z-index: 11;
    box-shadow: 5px 15px 20px rgba(72, 62, 23, 0.4);
}

.joke__question {
    font-size: larger;
    font-weight: bold;
}

.joke__answer {
    color: darkgoldenrod;
}

@keyframes jiggle {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
    33% {
        transform: rotate(1deg) scale(1.0);
        opacity: 0.75;
    }
    66% {
        transform: rotate(-1deg) scale(1.0);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}
